.filter_input{
     display: flex;
     justify-content: space-between;
     padding-top: 5rem;
}
.input input{
     padding: 8px 30px;
     border: none;
     border-radius: 5px ;
     box-shadow: 0px  1px 10px 1px  rgb(19, 19, 19);
}
.input button{
     padding: 8px 15px;
     border: none;
     margin-left: 10px;
     border-radius: 3px;

}
.dropdown .btn{
     padding: 8px 15px;
}

.cards{
     padding-top: 3rem;
     display: grid;
     grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

.dark{
     background: #000;
}
.light{
     background: #fff;
}